.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.btn-default{
  margin-left: 10px;
}

.graphicCircle{
  margin-top: 20px;
  float: left;
  width: 60px !important;
  margin-left: 20px;
}

.imageModal{
  float: left;
  height: 250px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.thumbnail{
  height: 380px;
}

.poster_list{
  height: 200px !important;
}

.poster_list_na{
  width: 100px !important;
  padding-top: 100px;
}

.modalDetail{
  margin-left: 20px;
}

#tf-intro{
	
	padding-bottom: 80px;
	padding-right: 0;
	padding-left: 0;
	padding-top: 60px;
	background: url(./assets/06.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	
}



.imageModalNA{
  float: left;
  height: 120px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 20px;
}

.closeModal{
  float: right;
  margin-right: 20px;
  margin-bottom: 10px !important;
  margin-top: 100px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.notFavorite:hover {
  cursor:pointer;
 }

.notFavorite{
  width: 30px;
  float: right;
}

.favoriteIcon:hover {
  cursor:pointer;
 }

.favoriteIcon{
  width: 20px;
  padding-bottom: 5px;
}

#tableSearch{
  margin-top: 100px;
}

#input-search {
  width: 400px;
  padding: 8px 16px 8px 16px;
  font-size: 26;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
